.mainCV {
    background-color: white;
    border-color: antiquewhite;
    border-style: dotted;
}
body, canvas, html{margin:0;padding:0;border:0 none;}

.form-style-2{

    font: 16px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100%;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}


.input-field
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 2%;
    outline: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}

.input{
  width:50%;
  float: right;
  padding-top: 8px;
  padding-right: 5px;
}
.radio-label{
  margin-top: -9px;
}
